extends header 
block content
    .container-fluid
      .row.mt-4
        .col-md-12
          .card
            .card-body
              .row
                .col-md-1
                  img.img-responsive(src='views/image/user.png') 
                .col-md-10
                  input(class='form-control height-65', type='text', id='whats your tips',placeholder='Whats yours tips')
      for post in posts 
        .card.mt-4
          .card-body
            .row
              .col-md-12
                h4
                  img.img-responsive(src='views/image/user.png' class='mr-3')
                  b #{post.ownerName} 
                  span shared tips for #{post.gameName}
                  p Today at #{moment(post.createdAt).format('hh:mm A')}
              .col-md-12 
                p #{post.description}
              .col-md-12 
                .row 
                  .bg-light.d-flex.justify-content-between
                    p #{post.likeCount} Like
                    p 15 comments
              .col-md-12.text-center.border-up-bottom
                    p Like  Comments
              .col-md-12.mt-4 
                .row 
                  .col-md-6
                    .card
                      .card-header 
                        b Rushi Patel 
                        p Test comment 1
              .col-md-12.mt-4
                .row 
                  .col-md-10 
                    input(class='form-control', type='text', id='whats your tips' ,placeholder='Write a comment.....') 
                  .col-md-1 
                    buuton.btn.btn-primary Comment                 
        