extends header 
block content
    .container-fluid
      .row.mt-4
        .col-md-12
          .card
            .card-body
              .row
                .col-md-1
                  img.img-responsive(src='views/image/user.png') 
                .col-md-10
                  a.btn.btn-light.stretched-link.post-create-link(href='createPost') What's your new tips or technique......
      for post in posts 
        .card.mt-4
          .card-body
            .row
              .col-md-1.text-center
                img.img-responsive(src='views/image/user.png' class='mr-3')
              .col-md-10
                h4
                  b #{post.ownerName} 
                  span shared tips for #{post.gameName}
                p #{moment(post.createdAt).format('DD-MM-YYYY')} at #{moment(post.createdAt).format('hh:mm A')}
              .col-md-12 
                p #{post.description}
              .col-md-12.bg-light 
                .row 
                  .d-flex.justify-content-between.mt-2
                    p #{post.likeCount} Likes
                    p #{post.commentCount} Comments
              .col-md-12.text-center.border-up-bottom
                    p Like  Comment
              .col-md-12.mt-4
                if post.comments.length > 0
                  for comment in post.comments
                    .row
                      .col-sm-5.col-md-6.col-12.pb-4
                        .card
                          .card-header 
                            b #{comment.user} 
                            p #{comment.comment}
                else 
                  p No comments found
              .col-md-12.mt-4
                .row 
                  .col-md-10 
                    input(class='form-control', type='text', id='whats your tips' ,placeholder='Write a comment.....') 
                  .col-md-2
                    buuton.btn.btn-primary Comment                 
        